<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Paper Rock Scissors</title>
    <link rel="stylesheet" th:href="@{css/styles.css}">
</head>
<body>
<h1 class="userText">Paper Rock Scissors!</h1>

<div id="radioGroup">
<form method="post" th:action="@{/processWinner}" class="userText">
    <p>Please select a choice:</p>
    <div class="choices">
        <input type="radio" name="choice" value="0" id="paper" checked>
        <label for="paper">Paper</label>
        <img src="images/paper.png" id="paperImage">
    </div>
    <div class="choices">
        <input type="radio" name="choice" value="1" id="rock">
        <label for="rock">Rock</label>
        <img src="images/rock.png" id="rockImage">
    </div>
    <div class="choices">
        <input type="radio" name="choice" value="2" id="scissors">
        <label for="scissors">Scissors</label><br>
        <img src="images/scissors.png" id="scissorsImage">
    </div>
    <input type="submit" value="Play" id="button">
</form>
</div>
</body>
</html>
