<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Paper Rock Scissors</title>
    <link rel="stylesheet" th:href="@{css/styles.css}">
</head>
<body>
<div class="userText">
    <h1>User choice</h1>
    <p th:text="${gameResults.get('userChoice')}"></p>
    <img th:src="'images/' + ${gameResults.get('userChoice')} + '.png'" class="outputImages">
</div>

<div class="userText">
    <h1>Computer choice</h1>
    <p th:text="${gameResults.get('computerChoice')}"></p>
    <img th:src="'images/' + ${gameResults.get('computerChoice')} + '.png'" class="outputImages">
</div>

<div class="userText">
    <h1>The winner is...</h1>
    <p th:text="${gameResults.get('winnerName')}"></p><br>
    <img th:src="'images/' + ${gameResults.get('winnerName')} + '.png'" class="outputImages">
    <div id="playAgainLink">
        <a th:href="@{playAgain}" class="userText">Play again</a>
    </div>

</div>

</body>
</html>
